.card:hover {
    outline: none;
    box-shadow: 0 0 10px #9ecaed;
}

.image { 
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center center;
    position: relative;
    transition: all 0.3s;
}

.card-body {
    overflow: hidden;
}
.image:hover {
    transform: scale(1.5);
}