<html>
    <head>
        <link rel="stylesheet" href="/static/lib/bootstrap.css">
        <link rel="stylesheet" href="/static/lib/fa.css">
        <link rel="stylesheet" href="/static/components/shop/shop.css">
        <script src="/static/lib/axios.js"></script>
        <script src="/static/lib/jquery.js"></script>
        <script src="/static/lib/bootstrap.js"></script>
        <script src="/static/dat/data.js"></script>
    </head>
    <body>

    </body>
    <script src="/static/components/shop/shop.js"></script>
</html>