<html>
    <head>
        <link rel="stylesheet" href="/static/lib/bootstrap.css">
        <link rel="stylesheet" href="/static/lib/fa.css">
        <link rel="stylesheet" href="/static/components/product/product.css">
        <script src="/static/lib/axios.js"></script>
        <script src="/static/lib/jquery.js"></script>
        <script src="/static/lib/bootstrap.js"></script>
        <script src="/static/dat/data.js"></script>
    </head>
    <body>
        <div class="card col-10 offset-1 my-5">
          <h3 id="name" class="card-header">...</h3>
          <div class="card-body">
            <h5 class="card-title" id="price">...</h5>
            <h6 class="card-subtitle text-muted" id="available">...</h6>
          </div>
          <img id="image" alt="Product image" class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 d-block user-select-none" style="font-size:1.125rem;text-anchor:middle">
          </img>
          <div class="card-body">
            <p class="card-text">...</p>
          </div>
          <div class="card-body">
            <a href="#" id="add" class="btn btn-primary">Add to cart</a>
          </div>
          <div class="card-footer text-muted" id="created">
            2 days ago
          </div>
        </div>
    </body>
    <script src="/static/components/product/product.js"></script>
</html>